body{
	margin: 0;
	padding: 0;
}
.sayt{
	width: 100%;
	height: 100%
	margin: 0 auto;
	justify-content: center;
}
.tepa{
	background-image: linear-gradient(to top , green,white,blue);
	height: 80px;
	width: 100%;
}
.ust{
	text-decoration:  none;
	font-size: 25px;
	margin-top: 15px;
	float: left;
}
.ro-otish{
	float: right;
	border: 5px solid red;
	margin: 6px;
}
.kirish{
	float: right;
	border: 5px solid red;
	margin: 6px;
}
.orta{
	padding-top:  20px;
	width: 100%;
	height: 300px;
	background-color: yellow;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
}

.dars{
	text-align: center;
	padding-top: 90px;
	width: 100%;
	height: 110px;
	background-color: grey;
	border-radius: 25%;
	border: 3px solid green;

}
.yozma{
	text-decoration: none;
	font-size: 20px;
}