/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*main styling */
html,
body {
    font-family: sans-serif;
    background: url('http://jbnuu.uz/mehmonxona%202.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

a {
    color: #333;
    text-decoration: none; 
}
.satr1{
    color: white;
    opacity: 0.6;
}
h1,
h2, 
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

#navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul{
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    padding: 25px;
}

#navbar ul li a:hover,  
    #navbar ul li a.current  {
    background-color: #444;
    color: #f7c08a;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}
.lead {
    font-size: 20px;
}
.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #f7c08a;
    color: #333;
}
.btn-light {
    background-color: #f4f4f4;
    color: #333;
}
.btn-dark {
    background-color: #333;
    color: #fff;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}
.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-primary {
    background-color: #f7c08a;
    color: #333;
}
.clr {
    clear: both;
}

/* Showcase section */
#showcase {
    background-image: url ("http://jbnuu.uz/mehmonxona%202.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height  : 600px;
}

#showcase .showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 170px; 
}

#showcase h1 {
    font-size: 60px;
}

#showcase p {
    padding-bottom: 20px;
    font-size: 20px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    height: 50%; 
    
    
}
.info-content{
    margin-left: 70%;
    margin-top: 18%; 
}
.rasm2{
    width: 40%;
    header: 50%;
}
/*Features section */
.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    text-align: center;
}

#main-footer {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 20px;
    

}