@media screen and (max-width: 1000px){
.sayt-nomi{/*sayit nomi reklama uhun*/
padding-top: 20px;
font-size:30px;/*matin shirifi*/

}
.dars{
	
	width: 22%;
	height: 90vh;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
}
.fan{
	height: 60px;
}
.fanlar{
	font-size: 30px;
}
.mavzular {
	font-size: 15px;
	color:blue;
	text-decoration: none;
}
.mavzular:hover,.mavzular:active{color:red}
ul{
	color: black;
}
.asos{
	float: right;
	width: 70%;
	
}
p{
	font-size: 20px;
}
}
@media screen and (max-width: 700px){

#sayt
{
	flex-direction: column;
}
.sayt-nomi:hover,.sayt-nomi:active{color:red}
.tepa {
height: 40px;
padding-top: 10px;
}
.sayt-nomi{/*sayit nomi reklama uhun*/
font-size:20px;/*matin shirifi*/
}
.dars{
	position:inherit;
	width: 100%;
	height: 90vh;
	background-color: grey;
	overflow-y: hidden;
	overflow-x: hidden;   
}
.fan{

	height: 40px;
}
.fanlar{
	font-size: 15px;
}
.mavzular {

	font-size: 20px;
	color:blue;
	text-decoration: none;
	
}
.mavzular:hover,.mavzular:active{color:red}
ul{
	color: black;
}
.asos{
	width: 95%;	
	margin: 0 auto;
	padding: 10px;
}
p{

	font-size: 20px;
}
.clear{
	clear: both;
}



}