body{
	margin: 0;
	padding: 0;
}
#sayt
{
	border: 3px solid red;
	width: 98%;
	margin: 0 auto;

}
.sayt-nomi:hover,.sayt-nomi:active{color:red}
.tepa {
background-image: linear-gradient(to top , green,white,blue);
text-align: center;
height: 80px;
}
/*.uz {color:red}*/
.sayt-nomi{/*sayit nomi reklama uhun*/
text-decoration:none;
padding-top: 10px;
font-size:50px;/*matin shirifi*/
letter-spacing:3px;/*harflar orasidagi masaofa*/
color:blue;/*text rangi*/
text-decoration: none;
	animation-name: as;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
/*.mavzular:hover,.mavzular:active{color:red}*/

@keyframes as{
	0% ,100%{
		color:blue;
		 
	}
	25%,75%{
		color: green;
		
	}
	50%{
		color: white;
		
	}
}
.fan{
	margin: 0 auto;
	padding: 0;
	padding-right: 10px;
	width: 99%;
	height: 80px;
	background-image: linear-gradient(to left , green,white,blue);
}
.fanlar {
	text-decoration:none;
	margin-left: ;
	position: absolute;
	color: blue;
	font-size: 50px;
	padding-top: 15px;
}
.html{
	animation-name: html;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes html{
	from{
		margin-left: 5%;
		color: red;
	}
	to{
		margin-left: 88%;
		color: blue; 
	}
}
.css{
	animation-name: css;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}
@keyframes css{
	from{
		margin-left: 5%;
		color: red;
	}
	to{
		margin-left: 75%;
		color: red; 
	}
}
.js{
	animation-name: js;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
@keyframes js{
	from{
		margin-left: 5%;
		color: red;
	}
	to{
		margin-left: 62%;
		color: blue; 
	}
}
.php{
	animation-name: php;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}
@keyframes php{
	from{
		margin-left: 5%;
		color: red;
	}
	to{
		margin-left: 49%;
		color: blue; 
	}
}
.c{
	animation-name: c;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}
@keyframes c{
	from{
		margin-left: 5%;
		color: red;
	}
	to{
		margin-left: 36%;
		color: blue; 
	}
}
.pyton{
	animation-name: pyton;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}
@keyframes pyton{
	from{
		margin-left: 5%;
		color: red;
	}
	to{
		margin-left: 23%;
		color: blue; 
	}
}
.java{
	animation-name: java;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 6s;
	animation-fill-mode: forwards;
}
@keyframes java{
	from{
		margin-left: 5%;
		color: red;
	}
	to{
		margin-left: 10%;
		color: red; 
	}
}
.dars{
	position:fixed;/*ekranda hardoyim bir joyda turadi va boshqalar bilan harakat qimaydi*/
	
	font-family: initial;
	width: 22%;
	height: 85vh;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	

}
.mavzular {
	font-size: 25px;
	color:blue;
	text-decoration: none;
}
.mavzular:hover,.mavzular:active{color:red}
ul{
	margin: 0;
	color: black;
}
.asos{
	float: right;
	width: 75%;
	
}
p{
	font-family: under;
	font-size: 40px;
}
.clear{
	clear: both;
}


