.title {
	background-color: #185d00;
	color:#fff;
	text-align:center;
	font-size:25px;
	font-family: "Times New Roman";
	font-weight:700;
	padding-top:7px;
	padding-bottom:7px;
}
.cat {
	border-bottom:1px dashed black;
	padding:-7px !important;
}
.belgilandi {
	background:#a02525;
}

.belgilandi a{
	color:#fff !important;
	font-weight:bold;
}

.categories {
	padding:15px;
	
}